@page "/"
<style>
  ul {
      list-style-type: circle
  }

  li {
      margin-left: 20px;
  }

</style>
<PageTitle>HaydiFun</PageTitle>

<h1>HaydiFun!</h1>

<h4>Hoşgeldin</h4>

<br />
<div>Üye ol</div>
<div>Kendini tanıt</div>
<div>Genel Davet düzenle, isteyen katılsın.</div>
<div>Özel Davet düzenle, istediklerin katılsın.</div>
<div>Üye profillerini görerek tanışma partileri düzenle, arkadaşlık kur.</div>
<div>Katılanlar ile Chat yap.</div>
<br />

<div>Genel Davete katılabilmen için Davet üzerinden istek yapmalısın.</div>
<div>&emsp; Düzenleyen bu isteği görüp seni Kabul/Red eder.</div>
<div>&emsp; Düzenleyen seni engellemiş ise bu daveti göremezsin/katılamazsın.</div>
<br />
<div>Özel Davete katılabilmen için Düzenleyenden davet almalısın,</div>
<div>&emsp; Bu daveti Kabul/Red edebilirsin.</div>
<br />
<div>İstediğin üyeyi takip listene alabilir,</Div>
<div>&emsp; istersen engelleyebilirsin(Senin Davetlerini göremez ve katılamaz)</div>
<div>Seni takip eden üyeyi görebilir,</div> 
<div>&emsp; seni engellediyse bilirsin(Onun Davetlerinı göremez ve katılamazsın)</div>
<br />

<div>Site şu sayfalardan oluşur:</div>
<br />

<ul>
  <li>
    İlgilendiğm Davetler: Aldığım/Verdiğim Davetler
    <ul>
      <li>Davet edildiğin ve Katılmak istediğin tüm Davetleri burada göreceksin.</li>
      <li>Ekle butonuna basarak yeni Davet oluşturabilir, Engellemediğin üyelere davetiye gönderebilirsin.</li>
      <li>Davet ettiğin üyeler kendi "İlgilendiğm Davetler" sayfasında davetini görecek,</li>
      <li>&emsp; daveti Kabul/Red edebilecek.</li>
      <li>Genel Davet açmışsan, diğerleri bu davete katılma isteğini bildirecek,</li>
      <li>&emsp; sen de bu üyeyi davetine Kabul/Red edebileceksin.</li>
      <li>Kabul edenler/edilenler ile bu Davet hakkında Chat yapabilirsin.</li>
    </ul>
  </li>
</ul>
<br />

<ul>
  <li>
    Katılabileceğim Davetler:
    <ul>
      <li>İlgilendiğin Genel Davetleri arayabilir,</li>
      <li>Katılmak istediğini seçip "İlgilendiğm Davetler" sayfasına aktarabilirsin.</li>
    </ul>
  </li>
</ul>
<br />

<ul>
  <li>
    Takipcilerim:
    <ul>
      <li>Seni takip eden/engelleyen üyeleri görebilirsin.</li>
    </ul>
  </li>
</ul>
<br />

<ul>
  <li>
    İzlediklerim: (Takip Ettiklerim)
    <ul>
      <li>Senin takip ettiğin üyeleri görebilirsin.</li>
      <li>Davetlerini görmesin/katılmasın istiyorsan Englleyebilirsin</li>
    </ul>
  </li>
</ul>
<br />

<ul>
  <li>
    Üyeler:
    <ul>
      <li>EkranAdı, Fotoğrafı ve Etiketlerini görürsün.</li>
      <li>İstediklerini Takibe alabilirsin.</li>
      <li>İstediklerini Engelleyebilirsin.</li>
    </ul>
  </li>
</ul>
<br />

<ul>
    <li>
    Profilim:
        <ul>
            <li>
            Ad Soyad gir. (Diğer üyeler göremez)
            <ul>
                <li>Kullandığın adı başa koy, göbek adını, kızlık soyadını kullanma, burası Nüfus kaydı değil 😀</li>
                <li>Adınla başlayan bir EkranAdın (CAN123 gibi) otomatik olarak oluşturulacak, birdaha değiştirilemeyecektir.</li>
                <li>Diğer üyeler seni bu EkranAdı ile tanıyacaklar.</li>
            </ul>
            </li>
      
      <li>
        Mail adresini gir. (Diğer üyeler göremez)
        <ul>
          <li>Üyelik şifreni bu yolla göndereceğiz.</li>
          <li>Başka bir üye ile aynı olamaz.</li>
        </ul>
      </li>

      <li>
        Resmini yükle.
        <ul>
          <li>Seni tanımlayabilecek bir fotoğraf bul, </li>
          <li>Çocuğununun, Evcil hayavanının resmi ve Emoji olmasın lütfen,.</li>
          <li>Sadece bu fotoğraf ile tanınacaksın.</li>
          <li>İstediğinde değiştirebilirsin.</li>
        </ul>
      </li>

      <li>
        Etiketleri tıklayarak kendini tanımla.
        <ul>
          <li>Cinsiyet, Yaş, Boy, Ağırlık, Ten, Konum, Hoby, Spor, UzmanlıkAlanı,</li>
          <li>Grup(dahil olduğun grup/dernek vs), Davetler(ilgilendiğin)</li>
          <li>Olmayan etiketleri bize bildir, ekleyelim.</li>
        </ul>
      </li>

      <li>
          Etiketler yetmiyorsa kendini birkaç cümle ile anlat.
      </li>
    </ul>
    </li>
</ul>
<br />

