@page "/davet"

@inject IPubs pubs
@implements IDisposable
<h3>Davet</h3>

<MudExpansionPanels MultiExpansion="true">
  <MudExpansionPanel Text="Panel One" IsExpandedChanged="@((x) => ExpandedChanged(x, 10))">
    <Chat ETid="10" />
  </MudExpansionPanel>
  <MudExpansionPanel Text="Panel Two" IsExpandedChanged="@((x) => ExpandedChanged(x, 20))">
    <Chat ETid="20" />
  </MudExpansionPanel>
  <MudExpansionPanel Text="Panel Three">
    <Chat ETid="30" />
  </MudExpansionPanel>
  <MudExpansionPanel Text="Panel Four">
    <Chat ETid="40" />
  </MudExpansionPanel>
</MudExpansionPanels>

<button @onclick="deneme">Click Me!</button>


@code {
  [CascadingParameter] private UserStateProvider? USP { get; set; }

  private async Task ExpandedChanged(bool nw, int id)
  {

  }

  public void deneme()
  {
    //Kendisine (key kendisi)
    pubs.RaiseDynEvent($"UT:{USP.UsrId}", new { FrUsrId = USP.UsrId, FrUsr = USP.Usr, Sbj = $"{USP.Usr} davetini yanıtladı" });
  }

  protected override void OnInitialized()
  {
    pubs.AddDynEvent($"UT:{USP.UsrId}", UsrPostBox);
  }
  
  private void UsrPostBox(dynamic prms)
  {
  }

  public void Dispose()
  {
    pubs.RemoveDynEvent($"UT:{USP.UsrId}", UsrPostBox);
  }

}
